// Load Fonts
@font-face {
  font-family: 'Raleway';
  font-weight: 300;
  src: url('../fonts/Raleway-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-weight: 400;
  src: url('../fonts/Raleway-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'Butler';
  font-weight: 300;
  src: url('../fonts/Butler_Regular.otf') format('truetype');
}

@font-face {
  font-family: 'Butler';
  font-weight: 400;
  src: url('../fonts/Butler_Bold.otf') format('truetype');
}
$titles: 'Butler', sans-serif;
$text: 'Raleway', sans-serif;