$red: #a00000;
$black: #212121;
$white: #fefefe;
$white2: #D4D4D4;

.subtitle{
  font-family: $text;
  font-size: 12px;
  letter-spacing: 5px;
  line-height: 1.5;
  text-transform: uppercase;
  &--white{
    color: $white2;
  }
  &--red{
    color: $red;
  }
}
.title{
  font-family: $titles;
  font-size: 24px;
  letter-spacing: 0;
  line-height: 1.5;
  &--white{
    color: $white;
  }
  &--red{
    color: $red;
  }
  &--strong{
    font-weight: 400;
  }
}
.txt{
  font-family: $text;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 1.5;
  &--white{
    color: $white;
  }
  &--red{
    color: $red;
  }
  &--strong{
    font-weight: 400;
  }
}

.txt-center{
  text-align: center;
}

.mb{
  &-10{
    margin-bottom: 10px;
  }
  &-20{
    margin-bottom: 20px;
  }
  &-200{
    margin-bottom: 200px;
    @include breakpoint(small){
      margin-bottom: 100px;
    }
  }
}
.mt{
  &-20{
    margin-top: 20px;
  }
}

body {
  background-image: linear-gradient(-90deg, #0f0f10 21%, #161618 100%);
  font-family: $text;
  color: $white;
}
.container-large {
  padding-right: 40px;
  padding-left: 40px;
  @include breakpoint(xsmall) {
    padding-right: 15px;
    padding-left: 15px;
  }
}
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}


a {
  color: inherit;
  text-decoration: none;
}
