$red: #A00000;
$black: #212121;
$white: #fefefe;

body{
    background-image: linear-gradient(-90deg, #0F0F10 21%, #161618 100%);
    font-family: $text;
}
.container-large {
    padding-right: 40px;
      padding-left: 40px;
      @include breakpoint(xsmall){
          padding-right: 15px;
          padding-left: 15px;
      }
  }
  .container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  @media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }