.home-hero{
    &__wrapper{
        height: 100vh;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
    &__head{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
}